<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}">Default Title</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png}" />
  <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
   <aside th:replace="~{themes :: sidebar}">
   	
   </aside>
    <!--  Main wrapper -->
    <div class="body-wrapper">
     <header th:replace="~{themes :: header}">
     
     </header>
      <div class="container-fluid">
        
        <div class="card">
        <div class="card-header">
        	<h3 class="card-titile">Admin Profile</h3>
        </div>
            <div class="card-body">
        	<form method="POST" th:action="@{/update}" th:object="${user}" enctype="multipart/form-data">
                  <div class="row">
                  <div class="mb-3 col-6">
                    <label for="exampleInputtext1" class="form-label">Full Name</label>
                    <input type="text" th:field="*{fullName}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                  </div>
                   <div class="mb-3 col-6">
                    <label for="exampleInputtext2" class="form-label">Phone Number</label>
                    <input type="text" th:field="*{phone}" class="form-control" id="exampleInputtext2" aria-describedby="textHelp">
                  </div>
                  </div>
                  <div class="row">
                   <div class="col-6">
                   <div class="mb-3">
                   <label for="profilePhoto" class="form-label">Profile Photo</label>
                        <input id="profilePhoto"  type="file" name="profileImage" class="form-control" />
                    </div>
                    
                    <div class="mb-3" th:if="${user.profilePhoto != null}">
                    <input type="hidden" name="existingImage" th:value="${user.profilePhoto}">
                    <img th:src="@{'/uploads/' + ${user.profilePhoto}}" alt="Profile Photo" width="150" class="img-thumbnail">
                </div>
                </div>
                  <div class="mb-3 col-6">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary w-20 py-8 fs-4 mb-4 float-end">Update Profile</button>
                 
                </form>
                </div>
               
  
      </div>
    </div>
  	<div th:replace="~{themes::footer}">
        
     </div>
  </div>
 <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
  <script th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
  <script th:src="@{/assets/js/sidebarmenu.js}"></script>
  <script th:src="@{/assets/js/app.min.js}"></script>
  <script th:src="@{/assets/js/dashboard.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>